dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.virthualenv
*.aux
*.log
*.synctex.gz
*.toc
.dist-buildwrapper/*
*.aux
cabal_sandbox/
cabal.sandbox.config
*.lof
*.iml
*.out

.DS_Store
.idea/*

SimulatorGUI/.idea/*
